* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section_text_2 {
    display: flex;
    justify-content: center;
    background-color: #f8f4f4;
    padding: 20px 0;
}

#section_text_2 .container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

#section_text_2 .alpha {
    display: flex;
    align-items: center;
}

#section_text_2 .omega a:link{
    text-decoration: none;
    font-weight: bold;
    background-color: #f77825;
    padding: 10px 20px;
    display: inline-block;
    color: white;
    border-radius: 5px;
}