* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 12px;
    font-weight: normal;
}

#section_normal_1 .container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#section_normal_1 .sixteen.columns {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

#section_normal_1 .icon-box {
    display: flex;
    align-items: center;
    gap: 20px;
    color: darkgray;
}

#section_normal_1 .icon-box .icons{
    display: flex;
    gap: 5px;
}

#section_normal_4_2 .sixteen.columns {
    background-color: darkgray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
}

#section_normal_4_2 .sixteen.columns {
    background-color: #333333;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    gap: 40px;
}
#section_normal_4_2 .sixteen.columns .eight.columns {
    display: flex;
}

#section_normal_4_2 .eight.columns.pix_container{
    justify-content: flex-end;
}

#section_normal_4_2 .eight.columns.omega{
    display: flex;
    flex-direction: column;
    width: 410px;
    align-items: flex-start;
    gap: 20px;
}

.bold_text {
    font-weight: bold;
}

.big_text {
    font-size: 20px;
    text-transform: uppercase;
}

.blue_text {
    color: #2dc0e8;
}

.big_title {
    font-size: 40px;
    color: white;
}

.normal_text {
    font-size: 15px;
    color: #737373;
}

.pix_button {
    padding: 12px 16px;
    background-color: #2dc0e8;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border-bottom: 4px solid #249aba;
    transition: linear 1ms;
}

.pix_button:hover {
    border: 0;
    transform: translate(0, 3px);
    background-color: #249aba;
}

#section_normal_6 .envato_unbounce .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    background-color: #eeeeee;
    padding: 40px 0;
}

.envato_unbounce .container .L_container {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.L_container .L1_style {
    color: #696969
}

.L_container .L2_style {
    color: #acacac
}

.eight.columns.stbox {
    width: 570px;
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow(0 3px 0 #dddddd);
    color: #979797;
}

.eight.columns.stbox.alpha{
    justify-self: end;
}

.eight.columns.stbox.omega{
    justify-self: start;
}

.eight.columns.stbox .pix_builder_bg{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #ffffff;
}

.eight.columns.stbox .pix_builder_bg .b_style{
    background-color: #f5f5f5;
    padding: 20px 10px;
}

.eight.columns.stbox .pix_builder_bg .txt_style{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.b_style img.logo_style {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.stars_span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.env_st .pix_text {
    color: #76b3fc;
}